<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Sistema Bancário</span>
  <span class="example-spacer"></span>
  <div class="container" style="marker-end: initial;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <span>Usuário</span>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/contas">
      <span>Contas</span>
    </button>
  </div>
</mat-toolbar>
